<a href="/start/{{ instance }}/{{ process }}" title="Start" data-toggle="tooltip"><span class="glyphicon glyphicon-play text-success"></span></a>
<a href="/restart/{{ instance }}/{{ process }}" title="Restart" data-toggle="tooltip"><span class="glyphicon glyphicon-refresh"></span></a>
<a href="/stop/{{ instance }}/{{ process }}" title="Stop" data-toggle="tooltip"><span class="glyphicon glyphicon-stop text-danger"></span></a>
